<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd

">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://doc-14-5g-docs.googleusercontent.com/docs/securesc/rt6q44tfcs6kv1et388q1af0av29b54l/oujf6sjl4d1kjnp4rjai709qv199icg8/1597721400000/00384981403615821050/00384981403615821050/10KSzHWIzCIL_ZBnorbpCuaQYvQuDQfwM?e=download&authuser=1&nonce=kuvmg9cubh6gu&user=00384981403615821050&hash=9cmu2ciluc5tn0innea41jgf0iajvdl8</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>SK8K8G42Y4.com.onebyte.scpviewerapp</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>SecondClone</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
